<html>
  <head>
    <title>Chitter</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <ul class="user">
        <% if @repo.current_user != 0 %>
            <a href="/user/<%= @repo.current_user %>"><img class="profilepic" src="/Profilepic.png" alt="profile picture" /></a>
            <li class="username"><%= @repo.current_username %></li>
            <li class="menu1"><a href="/post">Post a peep</a></li>
            <li class="menu2"><a href="/sign_out">Sign out</a></li>
        <% else %>
            <li class="menu1"><a href="/sign_in">Sign in</a></li>
        <% end %>
        <li class="menu3"><a href="/rev">Reverse order</a></li>
    </ul>

    <div>
        <% if @error != nil %>
            <%= @error %>
        <% end %>
    </div>

    <div>
        <% if @repo.chrono_peeps != [] %>
            <% @repo.chrono_peeps.each do |peep| %>
                <div id ="peep<%= peep.id %>" class="peep">
                <a href="/user/<%= peep.user_id %>"><img class="userpic" src="/Profilepic.png" alt="profile picture" /></a>
                <h2><%= peep.title %></h2>
                <h3><%= @repo.username(peep.user_id) %></h2>
                <p><%= peep.content %></p>
                <p><a href='/peep/<%= peep.id %>'>More details</a></p>
                </div>
            <% end %>
        <% end %>
    </div>
  </body>
</html>