<html>
  <head>
    <title><%= @username %> page</title>
    <link href="/userpage.css" rel="stylesheet" />
  </head>
  <body>
    <h2><%= @username %> page</h2>
    <a class="home" href='/'>Return to home page</a>
    <div>
        <% @peeps.each do |peep| %>
            <div class="peep">
                <h2><%= peep.title %></h2>
                <p><%= peep.content %></p>
                <p><a href='/peep/<%= peep.id %>'>More details</a></p>
            </div>
        <% end %>
    </div>
    
  </body>
</html>